/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1169px) { 

.logo > img {
  width: 80%;
}
.header > h4 {
  color: #fff;
  font-size: 12px;
  margin: 12px 0 0;
  padding: 0 0 0 19%;
  text-transform: uppercase;
}
.header > h5 {
  color: #fff;
  font-size: 12px;
  padding: 23px 0 22px 15%;
  text-transform: uppercase;
}
.header_2 h6 {
  color: #ffb900;
  font-size: 18px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.header_2 > a {
  color: #fff;
  font-size: 34px;
  text-decoration: none;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.delax_img > h2 {
  color: #fff;
  float: left;
  font-size: 18px;
  margin: 0 28px;
}
.delax_title > h1 {
  color: #fff;
  font-size: 50px;
  font-style: italic;
  margin: 10px 0 0;
}
.content > h2 {
  color: #f4590b;
  font-size: 28px;
  margin: 0;
  padding-bottom: 40px;
}
.form_area h2 {
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 22px;
  padding: 13px;
  text-align: center;
}
.form-group {
  margin-bottom: 10px;
}
.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  color: #555;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 2.429;
  margin-left: 8%;
  padding: 6px 10px;
  transition: none 0s ease 0s ;
  width: 85%;
}
.checkbox, .radio {
  border-radius: 3px;
  display: block;
  margin-bottom: 3px;
  margin-left: 13%;
  margin-top: 25px;
  padding: 14px;
  position: relative;
  width: 75%;
}
.submet > h4 {
  color: #252525;
  cursor: pointer;
  font-size: 18px;
  padding: 12px;
  text-align: center;
}
.form_area p {
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.three_img {
  margin-top: 120%;
}
.three_img > img {
  margin-bottom: 22px;
  margin-left: 0;
  margin-top: 0;
  width: 155%;
}
.content > p {
  color: #fff;
  font-size: 14px;
  margin: 35px 0 0;
  padding-left: 15%;
}
.content > img {
  margin-top: 40px;
}
.health_title > h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  margin-top: 7px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.health_title > h2 {
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
}
.single_health > h2 {
  font-size: 14px;
  letter-spacing: 0;
}
.single_health > p {
  font-size: 10px;
  margin-left: 25%;
}
.left_price {
  padding-top: 80px;
}
.left_price > h6 {
  color: #fff;
  font-size: 26px;
  letter-spacing: -2px;
  margin: 0 0 0 25px;
}
.left_price > h1 {
  color: #fff;
  font-size: 55px;
  letter-spacing: -4px;
  margin: 0 15% 0 0;
  padding-bottom: 25px;
}
.left_price > p {
  color: #f77406;
  font-size: 17px;
  margin-top: 20px;
}
.left_price > h4 {
  color: #f77406;
  font-size: 19px;
  margin-left: 29px;
}

.left_price li {
  font-size: 11px;
  padding: 21px 0 17px 20%;
}

.mid_price > h2 {
  color: #fff;
  font-size: 22px;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.mid_price > p {
  border-top: 2px solid #464646;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}
.mid_price > ul {
  color: #fff;
  font-size: 11px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.mid_price li {
  border: 1px solid #494949;
  padding-bottom: 22px;
  padding-top: 12px;
  text-align: center;
}
.price_boot {
  border: 1px solid #464646;
  padding-bottom: 30px;
  padding-top: 8px;
}
.price_boot > h1 {
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.price_boot > a {
  color: #ffb900;
  font-size: 11px;
  margin-left: 23%;
  text-decoration: none;
}
.right_price > h1 {
  color: #fff;
  font-size: 22px;
  margin: 0;
  padding: 16px;
  text-align: center;
}
.right_price > h2 {
  border-top: 1px solid #464646;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 13px;
  text-align: center;
}
.right_price > p {
  border: 1px solid #707070;
  color: #fff;
  font-size: 11px;
  margin: 0;
  padding: 11px 17%;
  text-align: center;
}
.right_price > h4 {
  border: 1px solid #707070;
  color: #fff;
  font-size: 9px;
  margin: 0;
  padding: 13px;
}
.right_price li {
  border: 1px solid #707070;
  font-size: 11px;
  padding: 10px;
  text-align: center;
}
.right_boot > p {
  color: #f4590b;
  font-size: 11px;
  padding: 0 4%;
  text-align: center;
}
.right_boot > h1 {
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.right_boot {
  border: 1px solid #707070;
  padding-bottom: 50px;
  padding-top: 25px;
}
.price_cont > a {
  border: 1px solid #ffb900;
  color: #fff;
  font-size: 9px;
  padding: 22px 38px;
  text-decoration: none;
}
.price_cont > h3 {
  color: #fff;
  font-size: 16px;
  margin: 0 0 40px;
}
.price_cont > h2 {
  color: #f4590b;
  font-size: 30px;
  margin-top: 0px;
}

.man_pomo > h1 {
  color: #fca103;
  font-size: 30px;
  margin-bottom: 25px;
  margin-left: 10%;
}
.all_paragiaf {
  font-size: 12px;
}
.galary_three1 > img {
  margin-left: 9%;
  margin-top: 57px;
  width: 80%;
}
.same_servis_title > h1 {
  color: #f66a09;
  font-size: 20px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.same_servis_title > img {
  width: 134%;
}
.single_servis > p {
  font-size: 12px;
  margin: 0;
  padding-bottom: 8px;
  padding-left: 21%;
  padding-top: 7px;
}
.tissue_title > h2 {
  color: #f87a07;
  font-size: 30px;
  margin: 0 0 20px;
  text-align: center;
}
.tissue_title > p {
  font-size: 12px;
  margin-bottom: 60px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}
.tissue_img_section {
  padding-bottom: 40px;
  padding-top: 30px;
}
.cont > p {
  font-size: 12px;
  margin-left: 20%;
}
.simgle_tissu_img1 > img {
  width: 49%;
}
.simgle_tissu_img1 {
  margin: 0;
}
.cont > h2 {
  color: #fb9504;
  font-size: 25px;
  margin-top: 5px;
}
.cont > p {
  font-size: 12px;
  margin-left: 27%;
}
.same_tissu1 {
  margin-bottom: 0;
}
.number > h1 {
  color: #f87807;
  float: left;
  font-size: 100px;
  font-weight: 700;
  margin: 0 25px 0 0;
}
.cont5 > p {
  margin-bottom: 25px;
  margin-left: 24%;
  font-size: 12px;
}
.cont > p {
  font-size: 12px;
  margin-left: 23%;
}
.cont9 > h2 {
  color: #fda602;
  font-size: 25px;
}
.cont9 > p {
  margin-left: 20%;
}
.simgle_tissu_img4 > img {
  margin-left: 35px;
  margin-top: 80px;
  width: 89%;
}
.number > h1 {
  color: #f87807;
  float: left;
  font-size: 75px;
  font-weight: 700;
  margin: 0 25px 0 0;
}
.cont9 > p {
  font-size: 12px;
  margin-left: 20%;
}
.footer_top > h4 {
  border: 2px solid #fff;
  color: #fff;
  float: right;
  font-size: 12px;
  margin-right: 6%;
  padding: 12px 30px;
}
.footer_top > h2 {
  color: #fff;
  float: left;
  font-size: 17px;
  margin: 16px 0 0 5%;
}
.footer_top_section {
  padding-bottom: 11px;
  padding-top: 18px;
}
.foot_menu {
  margin-bottom: 20px;
  margin-left: 33%;
  text-align: center;
}
.logo_foot > img {
  width: 18%;
}

}




/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.logo > img {
  width: 80%;
  margin-bottom: 30px;
}
.header > h4 {
  color: #fff;
  font-size: 12px;
  margin: 10px 0 0;
  padding: 0 0 0 20%;
  text-transform: uppercase;
}
.header > h5 {
  color: #fff;
  font-size: 12px;
  padding: 38px 0 6px 20%;
  text-transform: uppercase;
}
.header_2 {
  text-align: center;
}
.header_2 h6 {
  color: #ffb900;
  font-size: 15px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.header_2 > a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.header > h5 {
  background-position: 0 14px;
  color: #fff;
  font-size: 12px;
  padding: 22px 0 20px 20%;
  text-transform: uppercase;
}
.header_2 {
  margin-right: 25%;
}
.delax_img > img {
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  width: 20%;
}
.delax_img > h2 {
  color: #fff;
  float: left;
  font-size: 14px;
  margin: 0 48px;
}
.img2 > img {
  float: right;
  margin-right: -12px;
  margin-top: -28px;
  width: 20%;
}
.header > h5 {
  background-position: 0 14px;
  color: #fff;
  font-size: 12px;
  padding: 22px 0 20px 20%;
  text-transform: uppercase;
}
.delax_title {
  text-align: center;
  margin-top: 25px;
}
.delax_title > h1 {
  color: #fff;
  font-size: 32px;
  font-style: italic;
  margin: 10px 0 0;
}
.content > h2 {
  color: #f4590b;
  font-size: 22px;
  margin: 0;
  padding-bottom: 48px;
}
.content > p {
  color: #fff;
  font-size: 12px;
  margin: 30px 0 0;
  padding-bottom: 5px;
  padding-left: 18%;
}
.form_area h2 {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 16px;
  padding: 16px;
  text-align: center;
}
.submet > h4 {
  color: #252525;
  cursor: pointer;
  font-size: 16px;
  padding: 18px;
  text-align: center;
}
.checkbox, .radio {
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  margin-left: 13%;
  margin-top: 30px;
  padding: 18px;
  position: relative;
  width: 75%;
}

.form-control {
  height: 40px;
  line-height: 1.42857;
  margin-left: 7%;
  padding: 6px 15px;
  transition: none 0s ease 0s ;
  width: 85%;
}
.form_area p {
  color: #fff;
  font-size: 9px;
  text-align: center;
}
.three_img {
  margin-top: 30px;
  text-align: center;
}
.main.top_section {
  padding-bottom: 20px;
  padding-top: 40px;
}
.three_img > img {
  margin-bottom: 15px;
  margin-right: 0;
  margin-top: 0;
}
.health_title > h2 {
  font-size: 17px;
  margin: 0;
  text-transform: uppercase;
}
.health_title > h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  margin-top: 7px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.left_price > h1 {
  color: #fff;
  font-size: 40px;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 25px;
  text-align: center;
}
.left_price > h6 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.left_price > h4 {
  color: #f77406;
  font-size: 20px;
  text-align: center;
}
.left_price > p {
  color: #f77406;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.left_price li {
  font-size: 12px;
  padding: 15px 20px 14px 18%;
}
.price_cont > h2 {
  color: #f4590b;
  font-size: 26px;
  text-align: center;
}
.price_cont > h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 5px;
  text-align: center;
}
.health_title > h2 {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
.health_title > h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  margin-top: 7px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.single_health {
  padding-top: 1px;
}
.left_price > h6 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}
.left_price > h6 {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.left_price > h4 {
  color: #f77406;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.left_price > p {
  color: #f77406;
  font-size: 18px;
  margin-top: 21px;
  text-align: center;
}
.left_price li {
  font-size: 12px;
  padding: 16px 18px 16px 18%;
}
.price_cont > h2 {
  color: #f4590b;
  font-size: 25px;
  text-align: center;
}
.price_cont > h3 {
  color: #fff;
  font-size: 16px;
  margin: 0 0 51px;
  text-align: center;
}
.price_cont > a {
  font-size: 14px;
  margin-left: 9%;
  padding: 23px 38px;
  text-decoration: none;
}

.left_price {
  padding-top: 40px;
}
.mid_price > p {
  font-size: 18px;
  margin-bottom: 0;
  padding: 12px;
  text-align: center;
}
.mid_price > h2 {
  font-size: 22px;
  margin: 0;
  padding: 16px;
  text-align: center;
}
.mid_price li {
  font-size: 12px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-align: center;
}
.price_boot {
  padding-bottom: 30px;
  padding-top: 5px;
}
.price_boot > a {
  color: #ffb900;
  font-size: 12px;
  margin-left: 29%;
  text-decoration: none;
}
.price_boot > h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.right_price > h2 {
  font-size: 18px;
  margin: 0;
  padding: 16px;
  text-align: center;
}
.right_price > h1 {
  font-size: 22px;
  margin: 0;
  padding: 18px;
  text-align: center;
}
.right_price > p {
  font-size: 11px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.right_price > h4 {
  color: #fff;
  font-size: 13px;
  margin: 0;
  padding: 15px;
}
.right_price li {
  background-position: -8px 11px;
  border: 1px solid #707070;
  font-size: 12px;
  padding: 14px;
  text-align: center;
}
.right_boot {
  padding-bottom: 20px;
  padding-top: 25px;
}
.right_boot > h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 0;
  text-align: center;
}
.right_boot > p {
  color: #f4590b;
  font-size: 12px;
  padding: 0 10%;
  text-align: center;
}
.man_pomo > h1 {
  color: #fca103;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.all_paragiaf {
  font-size: 12px;
}
.all_para8 > p {
  margin: 0;
}
.all_para7 > p {
  margin: 0;
}
.all_para6 > p {
  margin: 0;
}
.all_para5 > p {
  margin: 0;
}
.all_para4 > p {
  margin-left: 0;
}
.all_para3 > p {
  margin: 0;
}
.all_para2 > p {
  margin-left: 0;
}
.all_para1 > p {
  margin: 0 0 0 0;
}
.galary_three1 > img {
  margin: 30px 0 0;
  width: 100%;
}
.all_man {
  padding-bottom: 40px;
  padding-top: 25px;
}
.same_servis_title > h1 {
  text-transform: uppercase;
  font-size: 18px;
}
.same_servis_title > img {
  width: 418%;
}
.single_servis > p {
  font-size: 11px;
  margin: 0;
  padding-bottom: 6px;
  padding-left: 25%;
  padding-top: 6px;
}
.single_servis {
  margin-bottom: 20px;
  padding: 0;
}
.tissue_title > h2 {
  color: #f87a07;
  font-size: 18px;
  margin: 0 0 26px;
  text-align: center;
}
.tissue_title > p {
  font-size: 12px;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 10px;
  text-align: justify;
}
.content {
  margin-top: 30px;
}
.content > h2 {
  color: #f4590b;
  font-size: 22px;
  margin: 0;
  padding-bottom: 0px;
}
.content {
  margin-top: 20px;
}
.price_section {
  padding-bottom: 35px;
  padding-top: 10px;
}
.mid_price {
  padding-top: 25%;
}
.man_pomo {
  color: #fff;
  font-size: 12px;
  padding-left: 0px;
  margin-left: 0;
}
.all_paragiaf {
  font-size: 12px;
  line-height: 1.2;
  text-align: justify;
}
.number > h1 {
  color: #f87807;
  float: left;
  font-size: 80px;
  font-weight: 700;
  margin: 0 14px 0 0;
}
.cont > h2 {
  color: #fb9504;
  font-size: 17px;
}
.cont > p {
  font-size: 12px;
  margin-left: 20%;
}
.same_tissu1 {
  margin-bottom: 15px;
}
.same_tissu2 {
  margin-bottom: 45px;
  padding-top: 19px;
}
.cont5 > h2 {
  color: #fda602;
  font-size: 18px;
}
.cont5 span {
  color: #f87f07;
  font-size: 12px;
}
.cont5 > p {
  font-size: 12px;
  margin-bottom: 25px;
  margin-left: 20%;
}
.cont9 > p {
  font-size: 12px;
  margin-left: 20%;
}
.cont9 > h2 {
  color: #fda602;
  font-size: 18px;
}
.simgle_tissu_img4 > img {
  margin-left: 55px;
  margin-top: 28px;
  width: 80%;
}
.footer_top > h2 {
  color: #fff;
  float: left;
  font-size: 18px;
  margin: 0 0 0 7%;
}
.footer_top > h4 {
  border: 2px solid #fff;
  color: #fff;
  float: right;
  font-size: 12px;
  margin-right: 19%;
  padding: 10px 15px;
}
.footer_top_section {
  padding-bottom: 20px;
  padding-top: 25px;
}
.foot_menu {
  margin-bottom: 25px;
  margin-left: 4%;
  text-align: center;
}
.footer_bottom li {
  border-left: 1px solid #fff;
  color: #fff;
  float: left;
  padding: 0 10px;
}
.logo_foot > img {
  width: 43%;
}
























}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {


}

